.App-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f5;
}
.carouselContainer {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.embedContainer iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.carousel .thumb {
    width: 20%;
}
.carousel .thumbs-wrapper {
    margin-top: 1%;
    margin-bottom: 4%;
}
.videoSlide img {
    visibility: hidden;
}