.App-footer {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-start;
    padding: 3%;
    text-align: left;
}
.footerLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 5;
    font-size: 12px;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-right: 5%;
}
.footerContentContainer {
    display: flex;
    justify-content: flex-end;
    flex: 5;
    padding-bottom: 2%;
    margin-top: 2%;
}
.footerTitle {
    font-size: calc(4px + 2vmin);
}
.footerContent {
    font-size: 12px;
}
.footerContactContainer, .footerPropertyContainer, .footerFollowContainer {
    padding: 2%;
}
