.App {
  text-align: center;
  height: 100%;
  margin: 0;
  background-color: #393d4a;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.logoContainer {
  display: flex;
  flex: 3;
  justify-content: flex-start;
  margin-left: 3%;
}
.headerItemContainer {
  display: flex;
  flex: 9;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3%;
}
.logo {
  font-size: calc(18px + 2vmin);
}
.properties, .contact {
  margin-left: 3%;
  font-size: calc(7px + 2vmin);
  cursor: pointer;
}
.phoneNumber {
  color: lightgrey;
  margin-left: 3%;
  font-size: calc(4px + 2vmin);
}
